@font-face{
    src: url("PokemonClassic.ttf");
    font-family: Pokemon;
}
body{
    text-align: center;
    font-family: Pokemon;
}

.header{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.pikachu{
    width:150px;
    border-radius:10%;
}
.img-hint{
    margin-bottom:40px;
}
.pokeball{
    background:url(images/pokeball.webp);
    background-size:cover;
    height:200px;
    width:200px;
    margin:0px auto 20px auto;
    border-radius:50%;
    padding:0px;
    border:5px solid black;

}

#rhydon:hover{
    background:url("https://media.giphy.com/media/gsRBrQ4vthDFe/giphy.gif");
    background-size:cover;
}

#arcanine{
    
}

#charmander{
    
}

#poliwhirl{
    
}

#slowbro{
    
}